extends ../layouts/default.pug

block body
  .row.justify-content-center.mt5
    .col-6.col-sm-4.col-md-3
      img(src='/images/yeoman.png' width='100%')
    .col-6.align-self-center
      h1 'Allo
      h3 Thanks for using this template

  .row.mt-5
    .col
      p this is a simple example to use the template with various libraries
    
